/**
 * You can compile this by https://www.sassmeister.com with
 *
 * - dart-sass v1.18.0
 */

.diff-wrapper.diff {
  $bg-color: #fff;
  $text-color: invert($bg-color);

  $bg-color-insert-base: #8e8;
  $bg-color-delete-base: #e88;

  $op-highlight-ratio: 90%;
  $op-normal-ratio: 25%;

  // emphasized colors for detailed inline difference
  $bg-color-insert-highlight: mix($bg-color-insert-base, $bg-color, $op-highlight-ratio);
  $bg-color-delete-highlight: mix($bg-color-delete-base, $bg-color, $op-highlight-ratio);

  // colors for operation rows
  $bg-color-insert: mix($bg-color-insert-base, $bg-color, $op-normal-ratio);
  $bg-color-delete: mix($bg-color-delete-base, $bg-color, $op-normal-ratio);

  $table-head-color: mix($bg-color, $text-color, 65%);
  $table-sidebar-color: mix($bg-color, $text-color, 80%);
  $border-color: $text-color;

  // color for the nonexistent block
  // for example, there are a deleted line that has no corresponding one
  $bg-color-nonexistent-block: mix($bg-color, $table-sidebar-color, 60%);
  $bg-color-nonexistent-block-alternative: mix($bg-color, $table-sidebar-color, 40%);

  background-color: $bg-color;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid $border-color;
  color: $text-color;
  empty-cells: show;
  font-family: monospace;
  font-size: 13px;
  width: 100%;
  word-break: break-all;

  th {
    font-weight: 700;
  }

  td,
  th {
    border-collapse: separate;
    border: none;
    padding: 1px 2px;
    background: $bg-color;

    // make empty cell has height
    &:empty:after {
      content: ' ';
      visibility: hidden;
    }

    a {
      color: #000;
      cursor: inherit;
      pointer-events: none;
    }
  }

  thead th {
    background: $table-head-color;
    border-bottom: 1px solid $border-color;
    padding: 4px;
    text-align: left;
  }

  tbody {
    &.skipped {
      border-top: 1px solid $border-color;

      td,
      th {
        display: none;
      }
    }

    th {
      background: $table-sidebar-color;
      border-right: 1px solid $border-color;
      text-align: right;
      vertical-align: top;
      width: 4em;

      &.sign {
        background: $bg-color;
        border-right: none;
        padding: 1px 0;
        text-align: center;
        width: 1em;

        &.del {
          background: $bg-color-delete;
        }

        &.ins {
          background: $bg-color-insert;
        }
      }
    }
  }

  &.diff-html {
    white-space: pre-wrap;

    .change {
      &.change-eq {
        .old,
        .new {
          background: $bg-color;
        }
      }

      &.change-ins .old,
      &.change-del .new {
        cursor: not-allowed;
        background: repeating-linear-gradient(
          -45deg,
          $bg-color-nonexistent-block,
          $bg-color-nonexistent-block 5px,
          $bg-color-nonexistent-block-alternative 5px,
          $bg-color-nonexistent-block-alternative 10px,
        );
      }

      .old {
        background: $bg-color-delete;
      }

      .new {
        background: $bg-color-insert;
      }

      ins,
      del {
        font-weight: 700;
        text-decoration: none;
      }

      ins {
        background: $bg-color-insert-highlight;
      }

      del {
        background: $bg-color-delete-highlight;
      }
    }
  }
}
