@charset "UTF-8";
.Differences {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #000;
    color: #000;
    empty-cells: show;
    font-family: consolas;
    font-size: 13px;
    width: 100%;
    word-break: break-all;
}

.Differences th {
    font-weight: 700;
}

.Differences td,
.Differences th {
    border-collapse: separate;
    border: none;
    padding: 1px 2px;
    background: #FFF;
}

.Differences td a,
.Differences th a {
    color: #000;
    cursor: inherit;
    pointer-events: none;
}

.Differences thead th {
    background: #AAA;
    border-bottom: 1px solid #000;
    padding: 4px;
    text-align: left;
}

.Differences tbody th {
    background: #CCC;
    border-right: 1px solid #000;
    text-align: right;
    vertical-align: top;
    width: 4em;
}

.Differences tbody th.Sign {
    background: #FFF;
    border-right: none;
    padding: 1px 0;
    text-align: center;
    width: 1em;
}

.Differences tbody th.Sign.del {
    background: #fbe1e1;
}

.Differences tbody th.Sign.ins {
    background: #e1fbe1;
}

.Differences.no-word-break {
    word-break: inherit;
}

.Differences.DifferencesSideBySide,
.Differences.DifferencesInline {
    white-space: pre-wrap;
}

.Differences.DifferencesSideBySide .ChangeReplace .Left,
.Differences.DifferencesSideBySide .ChangeInsert .Left,
.Differences.DifferencesSideBySide .ChangeDelete .Left,
.Differences.DifferencesInline .ChangeReplace .Left,
.Differences.DifferencesInline .ChangeInsert .Left,
.Differences.DifferencesInline .ChangeDelete .Left {
    background: #fbe1e1;
}

.Differences.DifferencesSideBySide .ChangeReplace .Right,
.Differences.DifferencesSideBySide .ChangeInsert .Right,
.Differences.DifferencesSideBySide .ChangeDelete .Right,
.Differences.DifferencesInline .ChangeReplace .Right,
.Differences.DifferencesInline .ChangeInsert .Right,
.Differences.DifferencesInline .ChangeDelete .Right {
    background: #e1fbe1;
}

.Differences.DifferencesSideBySide .ChangeReplace ins,
.Differences.DifferencesSideBySide .ChangeReplace del,
.Differences.DifferencesSideBySide .ChangeInsert ins,
.Differences.DifferencesSideBySide .ChangeInsert del,
.Differences.DifferencesSideBySide .ChangeDelete ins,
.Differences.DifferencesSideBySide .ChangeDelete del,
.Differences.DifferencesInline .ChangeReplace ins,
.Differences.DifferencesInline .ChangeReplace del,
.Differences.DifferencesInline .ChangeInsert ins,
.Differences.DifferencesInline .ChangeInsert del,
.Differences.DifferencesInline .ChangeDelete ins,
.Differences.DifferencesInline .ChangeDelete del {
    font-weight: 700;
    text-decoration: none;
}

.Differences.DifferencesSideBySide .ChangeReplace ins,
.Differences.DifferencesSideBySide .ChangeInsert ins,
.Differences.DifferencesSideBySide .ChangeDelete ins,
.Differences.DifferencesInline .ChangeReplace ins,
.Differences.DifferencesInline .ChangeInsert ins,
.Differences.DifferencesInline .ChangeDelete ins {
    background: #8E8;
}

.Differences.DifferencesSideBySide .ChangeReplace del,
.Differences.DifferencesSideBySide .ChangeInsert del,
.Differences.DifferencesSideBySide .ChangeDelete del,
.Differences.DifferencesInline .ChangeReplace del,
.Differences.DifferencesInline .ChangeInsert del,
.Differences.DifferencesInline .ChangeDelete del {
    background: #E88;
}

.Differences.DifferencesSideBySide .editDiffContainer:hover,
.Differences.DifferencesInline .editDiffContainer:hover {
    -webkit-box-shadow: 0 0 8px 2px #888;
    -moz-box-shadow: 0 0 8px 2px #888;
    box-shadow: 0 0 8px 2px #888;
    position: relative;
    z-index: 5;
}

.Differences.DifferencesSideBySide .editDiffContainer.edited,
.Differences.DifferencesInline .editDiffContainer.edited {
    background: #e1e1fb;
}

.Differences.DifferencesSideBySide .editDiff,
.Differences.DifferencesInline .editDiff {
    display: block;
    outline: none;
}
