.gitattributes export-ignore
.github/ export-ignore
.gitignore export-ignore

.editorconfig export-ignore
.phan/ export-ignore
.php_cs export-ignore
.rmt.yml export-ignore
.travis.yml export-ignore
docs/ export-ignore
example/images export-ignore
FUNDING.yml export-ignore
phpcs.xml export-ignore
phpunit.xml export-ignore
pyproject.toml export-ignore
tests/ export-ignore
