<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  backupGlobals="true"
  backupStaticProperties="false"
  bootstrap="./tests/bootstrap.php"
  cacheDirectory=".phpunit.cache"
  colors="true"
  defaultTestSuite="All"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd">
  <testsuites>
    <testsuite name="All">
      <directory suffix="Test.php">tests/</directory>
    </testsuite>
  </testsuites>
</phpunit>
